################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HackerRankMatrixRotation/v16
/HackerRankMatrixRotation/bin/Debug/netcoreapp2.1
/HackerRankMatrixRotation/obj
/.vs/HackerRankMatrixRotation/DesignTimeBuild
